{% extends "AppSuper/padre.html" %} {% load static %}
{% block titulo %}
Sobre mí
{% endblock%} 
{% block contenidoCambiante %}
<center>
    <h2>Díaz, Eduardo Sebastian:</h2>

    <footer class="py-5 bg-dark">
        
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    
    <h2>Tymcziszyn, Danko Mikhail:</h2>
    <h5>Me llamo Danko, soy un estudiante de ingeniería electrónica que está incursionando en el mundo de la programación,</h5>
    <h5>anteriormente tuve mis primeras experiencias programando en algunas materias de mi carrera universitaria, donde aprendí</h5>
    <h5>lenguajes como C++ y algunos propios de softwares matemáticos.</h5>
    <h5>Esas primeras incursiones en este mundo despertaron mi interés por la programación, lo que me llevo a buscar formas de</h5> 
    <h5>aprender nuevos lenguajes y querer desarrollarme profesionalmente en este ámbito.</h5>
</center>

{% endblock %} 