{% extends "AppSuper/padre.html" %}     <!--Por sintaxis de Dajngo se debe generar este .html si o si con _form.html en el nombre, basicamente valida la edición-->
{% load static %}

{% block contenidoDeTitulo %}
<h2>Registro de usuario</h2>
{% endblock%}

{% block contenidoCambiante %}


<div class="card">
    <div Class="card-header">
        <strong class="card-title">Ingrese sus datos:</strong>
    </div>
    <div class="table-stats order-table ov-h">
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}                               <!-- Permite mostrar los campos del elemento -->
            <button type="submit">Registrarse</button>
        </form>
    </div>
</div>
{% endblock %}