{% extends "AppSuper/padre.html" %}
{% load static %}
<!-- -------------------- -->
{% block contenidoDeTitulo %}

<h1>Carga de Articulos</h1>

{% endblock%}               <!-- Resumí un poco esto -->


{% block contenidoCambiante %}

<!--  Esta sería la segunda forma de cargar, veremos si funciona  -->
<!-- https://www.javatpoint.com/django-file-upload -->
    <div>
        <form method="post" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-primary"> Cargar </button>
        </form>
    </div>

    <div>
        <form>
            {% if variable_desde_view == True %}
            <p>Archivo cargado correctamente </p>
            <button type="submit" class="save btn btn-primary" href="suba.html"> Cargar otro producto </button>     
            {% elif variable_error == True %}
            
            {% else %}
            <p>Error al cargar el archivo </p>
            <button type="submit" class="save btn btn-primary" href="suba.html"> Intentar nuevamente </button>
            {% endif %}
        </form>
    </div>





{% endblock%}