{% extends "AppSuper/padre.html" %}
{% load static %}
<!-- -------------------- -->
{% block contenidoDeTitulo %}

<h1>Carga de Articulos</h1>

{% endblock%}               <!-- Resumí un poco esto -->


{% block contenidoCambiante %}
<!--  https://www.youtube.com/watch?v=4yHDYa8lHVo&ab_channel=Programaci%C3%B3nDeVerdad  
<div>
    <form method="post" class="form-signin" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Subir archivo </button>
    </form>
</div>
{% if uploaded_file_url %}
<p>Archivo subido en: <a href="{{ uploaded_file_url }}"> {{uploaded_file_url}}  </a></p>
{% endif %}
-->

<!--  Esta sería la segunda forma de cargar, veremos si funciona  -->
<!-- https://www.javatpoint.com/django-file-upload -->
    <div>
        <form method="post" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-primary"> Cargar </button>
        </form>
    </div>

    <div>
        <form>
            {% if variable_desde_view == True %}
            <p>Archivo cargado correctamente </p>
            <button type="submit" class="save btn btn-primary" href="suba.html"> Cargar otro producto </button>     
            {% elif variable_error == True %}
            
            {% else %}
            <p>Error al cargar el archivo </p>
            <button type="submit" class="save btn btn-primary" href="suba.html"> Intentar nuevamente </button>
            {% endif %}
        </form>
    </div>





{% endblock%}