
{% extends "AppSuper/padre.html" %}
{% load static %}


{% block contenidoCambiante %}
<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Styles -->
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
</head>
<center>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center"><h1 class="display-5">Productos:</h1></div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row" style="padding: 10px 0;">
                    <div class="col-12">
                        <div class="row">
                            {% for producto in productos %}     <!--LISTA LOS PRODUCTOS-->
                            <div class="col-6">
                                <div class="card" style="height: 20rem; width: 15rem; margin: 5px 0px;">
                                    <div class="card-body">
                                        {% if producto.imagen%}   <!-- ESTO ES PARA QUE NO SE ROMPA SI NO HAY IMAGEN CARGADA -->
                                        <img class="card.img" src="{{ producto.imagen.url }}" width="150" height="150">
                                        {% endif %}
                                        
                                        <h5 class="card-title">{{producto.nombre}}</h5>
                                        <p class="card-text">{{producto.categoria}}</p>
                                        <p class="card-text">${{producto.precio}}</p>
                                        {% if user.is_authenticated %}
                                        <a href="{% url 'Add' producto.id %}" class="btn btn-primary">Agregar al carrito</a>
                                        {% endif %}
                                        {% if request.user.is_staff %}
                                        <a href="{% url 'Producto_detalle' producto.id %}" class="btn btn-primary">Ver</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    


    <!-- Bootstrap -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</center>

<!-- CARRITO DE COMPRA -->
{% if user.is_authenticated %}
  <div class="alert alert-primary" role="alert">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="row" colspan="3" class="text-center">CARRITO</th>
      </tr>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">PRECIO</th>
        <th scope="col">CANTIDAD</th>
      </tr>
    </thead>
    <tbody>
    {% if request.session.carrito.items %}
    {% for key, value in request.session.carrito.items %}
      <tr>
        <td>{{value.nombre}}</td>
        <td>{{value.precio}}</td>
        <td>{{value.acumulado}}
          <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
          <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
        </td>
      </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3">
            <div class="alert alert-danger text-center"> Sin Productos </div>
        </td>
    </tr>
    
    {% endif %}
    <tr>
      <th scope="row">Total:</th>
      <td colspan="2">$ {{total_carrito}}</td>
    </tr>

      
    </tbody>
  </table>
  <hr>
  </div>
  <div class="row text-center">
      <center>
        <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
      </center>
  </div>
<!-- FIN CARRITO -->
{% endif %}
</html>

{% endblock%}